<div class="row">
  <div class="col-sm-2 col-sm-push-10 col-md-2 col-md-push-10">
    <a class="btn btn-default btn-block" href="/events/new">Add Event</a>
  </div>

  <div class="col-sm-10 col-sm-pull-2 col-md-8 col-md-pull-2">
    <%= current_conference.header.to_s.html_safe %>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-md-8">
    <% current_conference.each_day active_user do |day| %>
      <%= partial "events", day: day %>
    <% end %>
  </div>
</div>
