<% if active_user.anonymous? %>
  <div class="row">
    <div class="col-sm-8">
      <div class="alert alert-warning" role="alert">
        <strong>WARNING:</strong> You will not be able to edit this event unless you <a href="<%= user_omniauth_authorize_path :github %>">sign in</a> first.
        It will also be invisible until it is verified as not spam.
      </div>
    </div>
  </div>
<% end %>

<%= form_tag events_path, method: :post, data: { guarded: true } do %>
  <%= partial "form", event: Event.new, submit_label: "Create" %>
<% end %>
