$footer-height: 80px;

@mixin day-colors($color) {
    color: $color;

    .day-expander {
        color: $color;
        text-decoration: none;

        &:hover {
          color: darken($color, 10%);
        }
    }
}

@mixin event-colors($color) {
    color: $color;

    .event-expander {
        color: $color;
        text-decoration: none;

        &:hover {
          color: darken($color, 10%);
        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;
}

.navbar {
    margin-bottom: 20px;

    @media(max-width: $screen-xs-max) {
        .navbar-text {
            padding: 10px 15px;
        }
    }
}

.day-label {
    @include day-colors($text-color);

    &.past {
        @include day-colors($text-muted);
        font-size: $font-size-h3;
    }

    &.current {
        @include day-colors($state-success-text);
        font-weight: bold;
    }
}

.day-content {
    .event-well:last-child {
        margin-bottom: 0px;
    }
}

.event-well {
    .title {
        font-size: floor(($font-size-base * 1.15));

        @media (min-width: $screen-sm-min) {
            font-size: ($font-size-base * 1.5);
        }
    }

    @include event-colors($text-color);

    &.current {
        background-color: $state-success-bg;
        border-color: $state-success-border;

        @include event-colors($state-success-text);
    }

    &.past {
        @include event-colors($text-muted);
    }

    &.pending {
        background-color: $state-warning-bg;
        border-color: $state-warning-border;
    }

    &.unlisted {
        background-color: $state-danger-bg;
        border-color: $state-danger-border;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    background-color: #f5f5f5;

    .container {
        width: auto;
        padding: 0 15px;

        .text-muted {
            margin: 20px 0;
        }
    }
}
