body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.unlisted.well {
    background-color: $state-danger-bg;
    border-color: $state-danger-border;
}

.navbar {
    margin-bottom: 20px;

    @media(max-width: $screen-xs-max) {
        .navbar-text {
            padding: 10px 15px;
        }
    }
}
